.btn {
  border: none;
  padding: 1rem 3rem;
  border-radius: var(--border-rounded);
  cursor: pointer;
  transition: all 175ms ease-in-out;
  &:hover {
    background-color: var(--color-blue-500);
  }
  &--green {
    background-color: var(--color-green-500);
    color: var(--color-white);
  }
  &--red {
    background-color: var(--color-red-500);
    color: var(--color-white);
  }
  &--blue {
    background-color: var(--color-blue-500);
    color: var(--color-white);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &--floating {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: var(--color-red-500);
    border-radius: 50%;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    box-shadow: 0 0.125rem 0.75 0 var(--color-gray-500);
    @media (min-width: $media-sm) {
      bottom: 4rem;
      right: 4rem;
    }
    &:hover {
      transform: scale(1.1);
      background-color: var(--color-blue-500);
    }
    svg {
      display: block;
      width: 2rem;
    }
  }
}
