.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  &__item {
    border-radius: var(--border-rounded);
    padding: 1rem;
    background-color: var(--color-red-500);
    font-size: 1.25rem;
    margin-right: 1rem;
    border: 1px solid black;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      transform: scale(1.1);
      background-color: var(--color-blue-500);
    }
    &.isActive {
      background-color: var(--color-blue-500);
    }
  }
}
